body {
  background-color: #b19cd9;
}

#wrong_num {
  color : red;
}

#correct_num {
  color : green;
}

.card {
  text-align : center;
  border-style : solid;
  border-color : black;
  background-color : #b19cd9;
}
